.p-float-label label:focus {
    top: .75rem !important;
}

.p-inputtext {
    border: 0px !important;
	border-bottom: 2px solid #f0f4f4 !important;
	border-radius: 1px !important;
    outline: none !important;
    width: 100%;
    background: #f0f4f4;
}

.field-wrapper {
    width: 100%;
    position: relative;
}

.p-inputtext:focus{
    background-color: #fff;
    top: .75rem !important;
}

label {
	position: absolute;
    top: 1rem;
    left: 0.5rem;
    z-index: 2;
    font-size: .65rem;
}

.focus {
    top: 0px !important;
}