.home-body {
	background: url(../../assets/public/goTravel_logo_bg.jpg) no-repeat center
		center fixed !important;
	background-size: cover;
	height: 121% !important;
}

.home-header {
	background-repeat: no-repeat;
	height: 154px;
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	color: transparent;
	text-align: center;
}
