.datepicker-container {
    position: relative !important;
}

label {
	position: absolute;
    top: 1rem;
    left: 0.5rem;
    z-index: 2;
    font-size: .65rem;
}

.focus {
    top: 0px !important;
}
